.home{
    background-color: burlywood;
    display: flex;
    flex-flow: column;
}
.row{
    width: 100%;
}
.carousel{
    /* height: 500px; */
    background-color: aquamarine;
}
.newItems{
    /* width: 80%; */
    background-color: coral;
}